.gradle/
build/
__pycache__/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

### Intellij ###
.idea/
*.iml
out/

### Java ###
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
